- name: cravings-whale
  kind: postgres
  configuration:
    connection_info:
      database_url: ""
      isolation_level: read-committed
      use_prepared_statements: false
  tables: "!include cravings-whale/tables/tables.yaml"
